body {
  margin: 0;

  background-color: #d6d6d6;
}

main {
  margin: 1.5rem 0rem;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
}

h1,
p {
  text-align: center;

  margin: 0;
}

h1 {
  padding-bottom: 0.5rem;

  color: #303030;
}

p {
  padding-bottom: 1rem;

  color: cornflowerblue;
}

.projectLink {
  text-decoration: none;
  color: #303030;
}

.projectsSection {
  display: grid;
  gap: 2rem 2rem;

  padding: 1rem 2rem;
}

.project {
  text-align: center;
}

.projectImage {
  margin-bottom: 0.5rem;

  max-width: 100%;
}

/* TABLET DESIGN */
@media only screen and (min-width: 600px) {
  .projectsSection {
    grid-template-columns: 1fr 1fr;
  }
  .container {
    padding-top: 2rem;
  }
}

/* DESKTOP DESIGN */
@media only screen and (min-width: 992px) {
  .projectsSection {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .container {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}
